table {
 border: 4px double #333; 
 border-collapse: separate;
 width: 100%;
 border-spacing: 7px 11px; 
}
td {
 padding: 5px;
 text-align: center;
 border: 1px solid red;
}
caption {
 caption-side: bottom;
}
progress {
 width: 100%;
 height: 30px;
}